{% extends 'base.html' %}

{% block content %}
<ul class="game-list">
    {% for game in games %}
    <li>{{ game.gamename }} - {{ game.type }}
        <span class="float-right">
            <a class="imdb" href="https://www.imdb.com/find?q={{ game.gamename }}" target="_blank" title="Find this movie on IMDb">IMDb</a>
        </span>
    </li>
    {% endfor %}
</ul>
<img alt="Walking Totoro" class="totoro" src="{{ url_for('static', filename='images/totoro.gif') }}" title="to~to~ro~">

{% endblock %}